In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
wur = pd.read_csv("wur.csv")

In [4]:
wur

,universitet_nomi,mamlakat,milliy_daraja,oqitish_sifati,bitiruvchilarni_ishga_joylashishi,fakultet_sifati,nashriyoti,tasir_qilishi,iqtiboslar,patentlar,hisob
0,Harvard University,USA,1,7,9,1,1,1,1,5,100.00
1,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,1,91.67
2,Stanford University,USA,3,17,11,5,4,2,2,15,89.50
3,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,50,86.17
4,California Institute of Technology,USA,4,2,29,7,37,22,22,18,85.21
5,Princeton University,USA,5,8,14,2,53,33,26,101,82.50
6,University of Oxford,United Kingdom,2,13,28,9,15,13,19,26,82.34
7,Yale University,USA,6,14,31,12,14,6,15,66,79.14
8,Columbia University,USA,7,23,21,10,13,12,14,5,78.86
9,"University of California, Berkeley",USA,8,16,52,6,6,5,3,16,78.55
10,University of Chicago,USA,9,15,26,8,34,20,28,101,73.82
11,Cornell University,USA,10,21,42,14,22,21,16,10,73.69
12,University of Pennsylvania,USA,11,31,16,24,9,10,8,9,73.64
13,University of Tokyo,Japan,1,32,19,31,8,19,23,3,69.49
14,Johns Hopkins University,USA,12,34,77,20,11,9,9,7,66.94
15,Swiss Federal Institute of Technology in Zurich,Switzerland,1,26,66,11,40,51,44,34,66.69
16,Kyoto University,Japan,2,42,38,19,25,36,43,23,65.76
17,Weizmann Institute of Science,Israel,1,4,101,22,101,67,101,29,65.09
18,University of North Carolina at Chapel Hill,USA,25,101,86,56,31,29,31,29,53.09
19,Washington University in St. Louis,USA,26,74,62,101,32,18,30,14,52.90

In [ ]:
rank = wur['milliy_daraja']
plt.bar(10, height=5)
p